* { 
	margin:0; 
	padding:0; 
} 

h1, h2, h3, h4, div{
	font-family: sans-serif;
}


html, body { 
	width:100%; 
	height:100%; 
	background-color: #E0FFE2;
	overflow: hidden; 
} 

#title {
	margin-top: 15%;
	margin-bottom: 0.5em;
	text-align: center;
	font-size: 5em;
	color: #059E32;
	text-transform: uppercase;
}

#play_button {
	text-align: center;
	padding: 1em;
	background-color: #FFB800;
}

#play_button:hover {
	background-color: #FFEE00;
	cursor: pointer;
}


#canvas {
	background-color: #E0FFE2;
	padding: none;
	margin: none;
	display: none;
}

#timer, #thymer {
	position: fixed;
	font-size: 1.8em;
	padding: 1em;
	color: #265229;
	top: 0;
	text-transform: lowercase;
}

#timer {
	text-align: left;
	left: 0.5em;
}

#thymer {
	right: 0.5em;
	text-align: right;
}

.thyme_dish {
	width: 80px;
	height: auto;
	border: solid 15px #fff;
	border-radius: 50%;
	margin: 0.5em;
	-webkit-filter: blur(2.5px) grayscale(100%); /* Chrome, Safari, Opera */
    filter: blur(2.5px) grayscale(100%);
}

#thyme_dishes {
	position: fixed;
	width: 100%;
	bottom: 0;
	text-align: center;
	padding-top: 0.5em;
	background-image: url("assets/wood_seamless.jpg");
    background-repeat: repeat;
    display: none;
}
